@import url('https://fonts.googleapis.com/css?family=Roboto');

$button-ok: #9CCC65;
$button-alert: #FFB74D;
$button-choice: #FFFFFF;
$main-font: 'Roboto', sans-serif;
$main-text-color: #FFFFFF;
$second-text-color: #B0BEC5;


$bg-main: #D7CCC8;