@import url('https://fonts.googleapis.com/css?family=Roboto');

$button-ok: #19AE9F;
$button-alert: #D3445C;
$button-choice: #6658F5;
$main-font: 'Roboto', sans-serif;
$main-text-color: #404040;
$second-text-color: #FFFFFF;
$terce-text-color:#C3CFD9;